@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');
*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    font-family: 'Manrope', sans-serif;
}
.loginPage{
    width: 100vw;
    height: 100vh;
}
.bg{
    position:absolute;
    top:0px;
    left: 0%;
    width:60%;
    height: 100%;
    background-image: url('Images/todoBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 1;
}
.loginContent{
    position:relative;
    top:5%;
    right: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 98%;
    height: 50%;
}
.titles h1{
    font-size:3.8rem ;
    color: #B1E2EF
}
.titles h2{
    font-size:1.8rem ;
    color: #F8AAA3;
}
#loginForm{
    margin-top: 5%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loginForm input{
    width: 70%;
    height: 15%;
    border-radius: 5px;
    border: 2px solid #B1E2EF;
    padding: 10px;
    margin-top: 5%;
    font-size: 1.4rem;
    color: black;
}
.loginBtn{
    cursor: pointer;
    width: 70%;
    height: 15%;
    border-radius: 5px;
    border: 2px solid #B1E2EF;
    margin-top: 5%;
    font-size: 1.4rem;
    color: black;
    background-color: #B1E2EF;
}
/* .loginBtn:hover{
    background-color: #F8AAA3;
} */
.header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B1E2EF;
    padding: 20px 10px;
}
.header h2{
    font-size: 1.8rem;
    color: black;
}
.navbar{
    width: 50%;
    height: 100%;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar-nav li{
    list-style: none;
    font-size: 1.2rem;
}
.navbar-nav li a{
    text-decoration: none;
    color: black;
}
.navbar a:hover,#logBtn:hover{
    color: #F8AAA3;
}
#logBtn{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #B1E2EF;
    font-size: 1.2rem;
    background-color: #B1E2EF;
}
.quotes{
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 3.2rem;
    padding: 10px 10px;
    color: #F8AAA3;
}
.todoList{
    height: 100vh;
    width: 100%;
    text-align: center;
    border: 4px solid #bae5f1;
}
.todoList h3{
    font-size: 1.8rem;
    color: #B1E2EF;
    margin: 1.2rem;
}
#todoForm{
    width:40%;
    height:8%;
    padding: 10px;
    margin: 1% auto;
}
#todoForm input{
    font-size: 1.2rem;
}
.btn{
    font-size: 1.1rem;
    margin-left:5%;
    padding:1px 8px;
    background-color: white;
    border: 2px solid #B1E2EF;
    color: black;
}
.btn:hover{
    background-color: #B1E2EF;
}
.tasksitems{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin-top:2%;
}
.viewTemp{
    width: 100%;
    height: 100%;
}
.viewTemp input,.editTemp input{
    margin-right:2%;
    margin-top: 1%;
    font-size: 1.1rem;
}
.delBtn{
    background-color: rgb(247, 53, 53);
    border: 2px solid rgb(247, 53, 53);
    padding: 0px 2px;
    color: white;
    margin-left: 2%;
    font-size: 0.9rem;
}
.editBtn{
    background-color: white;
    border:2px solid white;
    padding: 0px 2px;
    margin-left: 2%;
    font-size: 0.9rem;
}
.saveBtn{
    background-color:rgb(64, 221, 61);
    border: 2px solid rgb(60, 230, 58);
    padding:2px;
    color: white;
    font-size: 0.9rem;
}
.footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #B1E2EF;
    padding: 10px;
}